In [40]:
print('hello')

hello

In [41]:
import polars as pl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualization style and display options
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

# Scikit-learn imports for preprocessing, modeling, and evaluation
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Ignore warnings for cleaner output
import warnings
warnings.filterwarnings('ignore')

In [42]:
df = pl.read_csv('../data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [43]:
df.head()

shape: (5, 21)
┌────────────┬────────┬─────────────┬─────────┬───┬─────────────┬─────────────┬────────────┬───────┐
│ customerID ┆ gender ┆ SeniorCitiz ┆ Partner ┆ … ┆ PaymentMeth ┆ MonthlyChar ┆ TotalCharg ┆ Churn │
│ ---        ┆ ---    ┆ en          ┆ ---     ┆   ┆ od          ┆ ges         ┆ es         ┆ ---   │
│ str        ┆ str    ┆ ---         ┆ str     ┆   ┆ ---         ┆ ---         ┆ ---        ┆ str   │
│            ┆        ┆ i64         ┆         ┆   ┆ str         ┆ f64         ┆ f64        ┆       │
╞════════════╪════════╪═════════════╪═════════╪═══╪═════════════╪═════════════╪════════════╪═══════╡
│ 7590-VHVEG ┆ Female ┆ 0           ┆ Yes     ┆ … ┆ Electronic  ┆ 29.85       ┆ 29.85      ┆ No    │
│            ┆        ┆             ┆         ┆   ┆ check       ┆             ┆            ┆       │
│ 5575-GNVDE ┆ Male   ┆ 0           ┆ No      ┆ … ┆ Mailed      ┆ 56.95       ┆ 1889.5     ┆ No    │
│            ┆        ┆             ┆         ┆   ┆ check       ┆             ┆            ┆       │
│ 3668-QPYBK ┆ Male   ┆ 0           ┆ No      ┆ … ┆ Mailed      ┆ 53.85       ┆ 108.15     ┆ Yes   │
│            ┆        ┆             ┆         ┆   ┆ check       ┆             ┆            ┆       │
│ 7795-CFOCW ┆ Male   ┆ 0           ┆ No      ┆ … ┆ Bank        ┆ 42.3        ┆ 1840.75    ┆ No    │
│            ┆        ┆             ┆         ┆   ┆ transfer    ┆             ┆            ┆       │
│            ┆        ┆             ┆         ┆   ┆ (automatic) ┆             ┆            ┆       │
│ 9237-HQITU ┆ Female ┆ 0           ┆ No      ┆ … ┆ Electronic  ┆ 70.7        ┆ 151.65     ┆ Yes   │
│            ┆        ┆             ┆         ┆   ┆ check       ┆             ┆            ┆       │
└────────────┴────────┴─────────────┴─────────┴───┴─────────────┴─────────────┴────────────┴───────┘

In [44]:
df.shape[0]

7043

In [45]:
df["gender"].value_counts()

shape: (2, 2)
┌────────┬───────┐
│ gender ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ Male   ┆ 3555  │
│ Female ┆ 3488  │
└────────┴───────┘

In [46]:
df.describe()

shape: (9, 22)
┌────────────┬────────────┬────────┬────────────┬───┬────────────┬────────────┬────────────┬───────┐
│ statistic  ┆ customerID ┆ gender ┆ SeniorCiti ┆ … ┆ PaymentMet ┆ MonthlyCha ┆ TotalCharg ┆ Churn │
│ ---        ┆ ---        ┆ ---    ┆ zen        ┆   ┆ hod        ┆ rges       ┆ es         ┆ ---   │
│ str        ┆ str        ┆ str    ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ str   │
│            ┆            ┆        ┆ f64        ┆   ┆ str        ┆ f64        ┆ f64        ┆       │
╞════════════╪════════════╪════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════╡
│ count      ┆ 7043       ┆ 7043   ┆ 7043.0     ┆ … ┆ 7043       ┆ 7043.0     ┆ 7032.0     ┆ 7043  │
│ null_count ┆ 0          ┆ 0      ┆ 0.0        ┆ … ┆ 0          ┆ 0.0        ┆ 11.0       ┆ 0     │
│ mean       ┆ null       ┆ null   ┆ 0.162147   ┆ … ┆ null       ┆ 64.761692  ┆ 2283.30044 ┆ null  │
│            ┆            ┆        ┆            ┆   ┆            ┆            ┆ 1          ┆       │
│ std        ┆ null       ┆ null   ┆ 0.368612   ┆ … ┆ null       ┆ 30.090047  ┆ 2266.77136 ┆ null  │
│            ┆            ┆        ┆            ┆   ┆            ┆            ┆ 2          ┆       │
│ min        ┆ 0002-ORFBO ┆ Female ┆ 0.0        ┆ … ┆ Bank       ┆ 18.25      ┆ 18.8       ┆ No    │
│            ┆            ┆        ┆            ┆   ┆ transfer   ┆            ┆            ┆       │
│            ┆            ┆        ┆            ┆   ┆ (automatic ┆            ┆            ┆       │
│            ┆            ┆        ┆            ┆   ┆ )          ┆            ┆            ┆       │
│ 25%        ┆ null       ┆ null   ┆ 0.0        ┆ … ┆ null       ┆ 35.5       ┆ 401.5      ┆ null  │
│ 50%        ┆ null       ┆ null   ┆ 0.0        ┆ … ┆ null       ┆ 70.35      ┆ 1397.65    ┆ null  │
│ 75%        ┆ null       ┆ null   ┆ 0.0        ┆ … ┆ null       ┆ 89.85      ┆ 3794.5     ┆ null  │
│ max        ┆ 9995-HOTOH ┆ Male   ┆ 1.0        ┆ … ┆ Mailed     ┆ 118.75     ┆ 8684.8     ┆ Yes   │
│            ┆            ┆        ┆            ┆   ┆ check      ┆            ┆            ┆       │
└────────────┴────────────┴────────┴────────────┴───┴────────────┴────────────┴────────────┴───────┘

In [47]:
df =df.drop(['customerID'])

In [48]:
df.head()

shape: (5, 20)
┌────────┬─────────────┬─────────┬────────────┬───┬─────────────┬─────────────┬────────────┬───────┐
│ gender ┆ SeniorCitiz ┆ Partner ┆ Dependents ┆ … ┆ PaymentMeth ┆ MonthlyChar ┆ TotalCharg ┆ Churn │
│ ---    ┆ en          ┆ ---     ┆ ---        ┆   ┆ od          ┆ ges         ┆ es         ┆ ---   │
│ str    ┆ ---         ┆ str     ┆ str        ┆   ┆ ---         ┆ ---         ┆ ---        ┆ str   │
│        ┆ i64         ┆         ┆            ┆   ┆ str         ┆ f64         ┆ f64        ┆       │
╞════════╪═════════════╪═════════╪════════════╪═══╪═════════════╪═════════════╪════════════╪═══════╡
│ Female ┆ 0           ┆ Yes     ┆ No         ┆ … ┆ Electronic  ┆ 29.85       ┆ 29.85      ┆ No    │
│        ┆             ┆         ┆            ┆   ┆ check       ┆             ┆            ┆       │
│ Male   ┆ 0           ┆ No      ┆ No         ┆ … ┆ Mailed      ┆ 56.95       ┆ 1889.5     ┆ No    │
│        ┆             ┆         ┆            ┆   ┆ check       ┆             ┆            ┆       │
│ Male   ┆ 0           ┆ No      ┆ No         ┆ … ┆ Mailed      ┆ 53.85       ┆ 108.15     ┆ Yes   │
│        ┆             ┆         ┆            ┆   ┆ check       ┆             ┆            ┆       │
│ Male   ┆ 0           ┆ No      ┆ No         ┆ … ┆ Bank        ┆ 42.3        ┆ 1840.75    ┆ No    │
│        ┆             ┆         ┆            ┆   ┆ transfer    ┆             ┆            ┆       │
│        ┆             ┆         ┆            ┆   ┆ (automatic) ┆             ┆            ┆       │
│ Female ┆ 0           ┆ No      ┆ No         ┆ … ┆ Electronic  ┆ 70.7        ┆ 151.65     ┆ Yes   │
│        ┆             ┆         ┆            ┆   ┆ check       ┆             ┆            ┆       │
└────────┴─────────────┴─────────┴────────────┴───┴─────────────┴─────────────┴────────────┴───────┘

In [49]:
df.null_count()

shape: (1, 20)
┌────────┬─────────────┬─────────┬────────────┬───┬─────────────┬─────────────┬────────────┬───────┐
│ gender ┆ SeniorCitiz ┆ Partner ┆ Dependents ┆ … ┆ PaymentMeth ┆ MonthlyChar ┆ TotalCharg ┆ Churn │
│ ---    ┆ en          ┆ ---     ┆ ---        ┆   ┆ od          ┆ ges         ┆ es         ┆ ---   │
│ u32    ┆ ---         ┆ u32     ┆ u32        ┆   ┆ ---         ┆ ---         ┆ ---        ┆ u32   │
│        ┆ u32         ┆         ┆            ┆   ┆ u32         ┆ u32         ┆ u32        ┆       │
╞════════╪═════════════╪═════════╪════════════╪═══╪═════════════╪═════════════╪════════════╪═══════╡
│ 0      ┆ 0           ┆ 0       ┆ 0          ┆ … ┆ 0           ┆ 0           ┆ 11         ┆ 0     │
└────────┴─────────────┴─────────┴────────────┴───┴─────────────┴─────────────┴────────────┴───────┘

In [50]:
df1=df.drop_nulls(subset=["TotalCharges"])

In [59]:
df.columns

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [51]:
df1.null_count()

shape: (1, 20)
┌────────┬─────────────┬─────────┬────────────┬───┬─────────────┬─────────────┬────────────┬───────┐
│ gender ┆ SeniorCitiz ┆ Partner ┆ Dependents ┆ … ┆ PaymentMeth ┆ MonthlyChar ┆ TotalCharg ┆ Churn │
│ ---    ┆ en          ┆ ---     ┆ ---        ┆   ┆ od          ┆ ges         ┆ es         ┆ ---   │
│ u32    ┆ ---         ┆ u32     ┆ u32        ┆   ┆ ---         ┆ ---         ┆ ---        ┆ u32   │
│        ┆ u32         ┆         ┆            ┆   ┆ u32         ┆ u32         ┆ u32        ┆       │
╞════════╪═════════════╪═════════╪════════════╪═══╪═════════════╪═════════════╪════════════╪═══════╡
│ 0      ┆ 0           ┆ 0       ┆ 0          ┆ … ┆ 0           ┆ 0           ┆ 0          ┆ 0     │
└────────┴─────────────┴─────────┴────────────┴───┴─────────────┴─────────────┴────────────┴───────┘

In [52]:
df1 = df1.rename({
    'gender': 'Gender',
    'SeniorCitizen': 'Senior_Citizen',
    'tenure': 'Tenure',
    'PhoneService': 'Phone_Service',
    'MultipleLines': 'Multiple_Lines',
    'InternetService': 'Internet_Service',
    'OnlineSecurity': 'Online_Security',
    'OnlineBackup': 'Online_Backup',
    'DeviceProtection': 'Device_Protection',
    'TechSupport': 'Tech_Support',
    'StreamingTV': 'Streaming_TV',
    'StreamingMovies': 'Streaming_Movies',
    'PaperlessBilling': 'Paperless_Billing',
    'PaymentMethod': 'Payment_Method',
    'MonthlyCharges': 'Monthly_Charges',
    'TotalCharges': 'Total_Charges'
})

In [53]:
# Feature lists

num_features = ["Tenure", 'Monthly_Charges', 'Total_Charges']

cat_features = ['Gender','Senior_Citizen','Partner','Dependents','Phone_Service','Multiple_Lines',
                'Internet_Service','Online_Security','Online_Backup','Device_Protection','Tech_Support',
                'Streaming_TV', 'Streaming_Movies','Contract','Paperless_Billing','Payment_Method']

target = 'Churn'

In [55]:
df1=df1.to_pandas()

In [56]:
df1.columns

Index(['Gender', 'Senior_Citizen', 'Partner', 'Dependents', 'Tenure',
       'Phone_Service', 'Multiple_Lines', 'Internet_Service',
       'Online_Security', 'Online_Backup', 'Device_Protection', 'Tech_Support',
       'Streaming_TV', 'Streaming_Movies', 'Contract', 'Paperless_Billing',
       'Payment_Method', 'Monthly_Charges', 'Total_Charges', 'Churn'],
      dtype='object')

In [57]:
X = df1[num_features + cat_features]
y = df1[target].map({'Yes': 1, 'No': 0})

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [58]:
preprocessor = ColumnTransformer([
    ('num', StandardScaler(), num_features),
    ('cat', OneHotEncoder(handle_unknown='ignore'), cat_features)
])